@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background 0.5s linear;
}

body.active {
    background-color: rgb(5, 136, 5);
}

.fundo {
    background: url('alface1.svg');
    width: 300px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s linear;
}

.checkbox {
    position: absolute;
    opacity: 0;
}

.alface2 {
    transition: transform 0.3s linear;
}

.alface2.active {
    transform: scale(1.1) translate(-7px, 0);
}

.fundo.active {
    background: url('alface3.svg');
    border-radius: 40px;
    padding-bottom: 450px;
}

.titulo {
    position: relative;
    top: 50px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}