@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background 0.5s linear;
}

.texto-alface.active {
    background-color: rgba(0, 0, 0, 0.37);
    padding-bottom: 300px;
    position: relative;
    bottom: -25vh;
    border-radius: 20px 20px 40px 40px;
}

.texto-tomate.active {
    background-color: rgba(0, 0, 0, 0.37);
    padding-bottom: 300px;
    position: relative;
    bottom: -6vh;
    border-radius: 20px 20px 40px 40px;
}

.titulo-alface {
    background-color: rgba(11, 85, 11, 0.493);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 10px;
    padding: 20px;
    text-align: center;
    position: relative;
    top: -97px;
}

.titulo-tomate {
    background-color: rgba(11, 85, 11, 0.493);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 10px;
    padding: 20px;
    text-align: center;
    position: relative;
    top: -222px;
}


/*CONFIGURAÇÕES MULTIPLAS*/
.sessao1 {
    overflow-x: auto;
    transition: 0.5s linear;
}

.verduras {
    margin: 20px;
    height: 300px;
    width: 100vh;
    display: flex;
    align-items: center;
    gap: 50px;
    overflow-y: hidden;
}

.verduras.active {
    height: 100vh;
}

.sessao1::-webkit-scrollbar {
    display: none;
}

.fundo, .tomate {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s linear;
}

.checkbox {
    position: absolute;
    opacity: 0;
}

/* BACKGROUNDS*/
.fundo {background: url('imagens/alface1.svg');}
.fundo.active {background: url('imagens/alface3.svg');}
.tomate {background: url('imagens/tomate1.svg');}
.tomate.active {background: url('imagens/tomate3.svg');}


.card {
    box-shadow: 10px 10px 15px black;
}

.texto-alface, .texto-tomate {
    transition: 0.5s linear;
}

.titulo-alface.active, .titulo-tomate.active {
    top: 50px;
    background-color: transparent;
}

.alface2, .tomate2 {
    transition: transform 0.5s linear;
    opacity: 0;
}

.alface2.active, .tomate2.active {
    transform: scale(1.1) translate(-7px, 150px);
    opacity: 100%;
}

.fundo.active, .tomate.active {
    border-radius: 40px;
    padding-bottom: 450px;
}

/*CLASSES SESSÃO 1*/
.sessao1.alface {background-color: rgb(10, 71, 10);}
.sessao1.active-tomate {background-color: rgb(83, 8, 8);}